[Unit]
Description=AOT API Server
After=aot-temporal.service
Requires=aot-temporal.service
PartOf=aot-cluster.target

[Service]
Type=simple
EnvironmentFile=%h/uncworks/deploy/systemd/env/apiserver.env
WorkingDirectory=%h/uncworks
ExecStart=%h/uncworks/bin/apiserver
Restart=on-failure
RestartSec=5

[Install]
WantedBy=aot-cluster.target
